@font-face {
  font-family: "Aretha";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Aretha-Bolt"), local("Aretha Bolt"), url("../fonts/Aretha-Bold.woff2") format("woff2"), url("../fonts/Aretha-Bold.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato-Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Lato-Medium"), local("Lato-Medium"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Lato-Semibold"), local("Lato-Semibold"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato-Bold"), local("Lato-Bold"), url("../fonts/Aretha-Bold.woff2") format("woff2"), url("../fonts/Aretha-Bold.woff") format("woff");
}