html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 360px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  background-color: $white;
  color: rgba(51, 26, 47, 0.8);
  overflow-x: hidden;
}

.button {
  background: $main-color;
  border: none;
  border-radius: 6px;
  color: $white;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.02em;

}
.focus-symbol{
  color: $selected-symbol-logo;
}