// Colors

$main-color: #CF51CE;
$selected-symbol-logo: #D653D2;
$selected-symbol-title: #EA5DBB;
$darkgrey: #54618E;
$white: #FFFFFF;
$main-text: #331A2F;

/* Viewports */

$mobile-sm: 360px;
$tablet-md: 768px;
$desktop-lg: 1280px;
$desktop-xl: 1920px;