.advantages {
  &__title {
    text-align: center;
    line-height: 150%;
    font-weight: 700;
    font-size: 24px;
    &--focus-on {
    }
  }

  &__main-thesis {
  }

  &__list {
  }

  &__item {
  }
}


.advantage {
  &__icon {
  }

  &__title {
  }

  &__text {
  }
}