.experience {
	margin: 0 0 100px 0;
	& p {
		margin: 0;
	}
	@media (min-width: $tablet-md) {
		font-size: 20px;
		line-height: 160%;
	}
	@media (min-width: $desktop-xl) {
		font-size: 25px;
		padding: 0 95px 0 115px;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		margin: 0 0 50px 0;
		@media (min-width: $tablet-md) {
			font-size: 40px;
			line-height: 64px;
		}
	}

	&__past {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		@media (min-width: $tablet-md) {
			flex-direction: row;
		}
	}

	&__current {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		@media (min-width: $tablet-md) {
			flex-direction: row-reverse;
		}
	}
}
.carrent-experience {
	&__text {
		align-self: center;
		@media (min-width: $tablet-md) {
			max-width: 430px;
		}
		@media (min-width: $desktop-lg) {
			max-width: 565px;
		}
		@media (min-width: $desktop-xl) {
			max-width: 750px;
		}
	}
}
.past-experience {
	&__text {
		align-self: center;
		@media (min-width: $tablet-md) {
			max-width: 430px;
		}
		@media (min-width: $desktop-lg) {
			max-width: 565px;
		}
		@media (min-width: $desktop-xl) {
			max-width: 750px;
		}
	}
}
