.header {
  background-image: url("/src/img/blocks/course-description/Superman-sm.svg");
  background-repeat: no-repeat;
  background-position: right 55px;

  @media(min-width: $desktop-xl) {
    background-image: url("/src/img/blocks/course-description/Ellipse-left-xl.svg"),
    url("/src/img/blocks/course-description/Ellipse-right-xl.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;

  }

  &__title {
    display: flex;
  }

  &__logo {
  }

  &__logo-icon {
  }

  &__logo-title {
  }

  &__tagline {
    @media (max-width: $tablet-md) {
      display: none;
    }
  }

  &__phone {
    @media (max-width: $desktop-lg) {
      display: none;
    }
  }

  &__come-in-button {
  }

  &__main-nav {

  }
}


.main-nav {
  &__toggle {
  }

  &__list {
    @media (max-width: $desktop-lg) {
      display: none;
    }
  }

  &__item {
  }
}

.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 0 43px 0;

  &__item {
    position: relative;
    & a{
      text-decoration: none;
    }

    &:not(:last-child):after {
      content: "";
      position: absolute;
      width: 10px;
      height: 1px;
      right: -17px;
      top: 15px;
      background-color: rgba(51, 26, 47, 0.5);
    }
  }
}

@import "./course-description";
